* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #c4d7f2;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #624cab;
  width: 612px;
  height: 500px;
  border-radius: 15px;
}

.register-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.top span {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 5px;
  font-size: small;
  padding: 10px 0;
}

.top span a {
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
  text-decoration: none;
}
.top span a:hover {
  text-decoration: underline;
}

h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding: 10px 0 30px 0;
}

.names {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}

.input-field {
  font-size: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  background: #624cab;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 100%;
  padding: 0px 10px 0px 20px;
}

.logo {
  width: 244px;
}

.input-field::placeholder {
  color: white;
}

.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}

#register:hover {
  cursor: pointer;
}

/* .input-box img {
  position: relative;
  top: -35px;
  left: 90%;
  color: white;
} */

.register-button {
  background-color: white;
  color: #624cab;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.register-button:hover {
  background: rgba(244, 241, 241, 0.844);
  cursor: pointer;
}

.two-col {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0 0px 0;
}

.two a {
  color: white;
  text-decoration: none;
}

.two a:hover {
  text-decoration: underline;
}

.one label {
  color: white;
}

.names .input-box {
  position: relative;
  margin: 25;
}

.user-logo {
  position: absolute;
  top: 25%;
  right: 7%;
}

.other-logo {
  position: absolute;
  right: 38%;
}

#identifiant,
#password {
  margin-bottom: 30px;
}

#lock {
  position: absolute;
  bottom: 40%;
}

#envelope {
  position: absoute;
  bottom: 49%;
}
